* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
}

/* HEADER */

header {
    background: linear-gradient(90deg,rgb(169, 134, 112), rgb(54, 199, 223));
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    height: 65px; /* controla o tamanho */
    width: auto;
}


/* NAV DESKTOP */

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #ff6600;
}

/* BOTÃO HAMBÚRGUER */

.menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* RESPONSIVO */

@media (max-width: 768px) {

    nav {
        position: absolute;
        top: 60px;
        right: 0;
        background: #111;
        flex-direction: column;
        width: 200px;
        padding: 20px 0;
        display: none;
        text-align: center;
    }

    nav a {
        padding: 10px 0;
    }

    nav.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    /* Esconde menu desktop */
    nav {
        display: none;
    }
}


/* BANNER */

.banner {
    text-align: center;
    padding: 70px 20px;
   background: linear-gradient(90deg,rgb(169, 134, 112), rgb(54, 199, 223));
    color: white;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #ff6600;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background: #ff3300;
    transform: scale(1.05);
}

/* PRODUTOS */

.produtos {
    padding: 50px 20px;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.15);
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.preco {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    color: #ff6600;
}

button {
    background: #111;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ff6600;
    transform: scale(1.05);
}

/* FUNDO ESCURO */

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

/* CAIXA CENTRAL */

.modal-content {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    animation: aparecer 0.3s ease;
}

/* ANIMAÇÃO */

@keyframes aparecer {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* BOTÃO WHATS */

.btn-whats {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background: #25D366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-whats:hover {
    transform: scale(1.05);
}

/* BOTÃO FECHAR */

.fechar {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 22px;
    cursor: pointer;
}


/* SOBRE E CONTATO */

.sobre, .contato {
    padding: 50px 20px;
    text-align: center;
    background: white;
    margin-top: 20px;
}

/* FOOTER */

footer {
    background: linear-gradient(90deg,rgb(169, 134, 112), rgb(54, 199, 223));
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    opacity: 0.7;
}
/* RESPONSIVIDADE EXTRA */

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav {
        margin-top: 10px;
    }

    nav a {
        margin: 10px;
        display: inline-block;
    }
}
